.footer-container {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding-block: 5px;
  position: fixed;
  width: 100%;
}

.footer-btn {
  background-color: rgba(255, 255, 255, 0.65);
  border: 2px solid var(--lightorangered);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  margin-inline: 10px;
  padding: 10px;
  transition: all 0.2s linear;
}

.footer-btn:hover {
  box-shadow: 0 0 4px var(--orangered) , 0 0 4px var(--orangered);
}

.footer-img {
  display: block;
  width: 30px;
}
