@import url('https://fonts.cdnfonts.com/css/prestiquen');
@import url('https://fonts.cdnfonts.com/css/remains-stepping');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: rgb(62, 196, 0);
  --lightgreen: rgba(62, 196, 0, 0.75);
  --orangered: rgb(252, 59, 0);
  --lightorangered: rgba(252, 59, 0, 0.425);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(230, 230, 230);
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightorangered);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--orangered);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
