@import url('https://fonts.cdnfonts.com/css/prestiquen');
@import url('https://fonts.cdnfonts.com/css/remains-stepping');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
